@{
    ViewData["Title"] = "Contact ";
}
<h2>@ViewData["Title"]</h2>
<img src="/images/prescription_note.jpg" alt="picture of prescription note" height="400" width="400" />

<address>
    <br />
    700 Louis Henna Blvd Apt #531<br />
    Austin, Texas, 78664<br />
    <abbr title="Phone">P:</abbr>
    512-828-9081
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@lokislayer.com">Support@lokislayer.com</a><br />
</address>
